.todoFilter {
  display: flex;
  justify-content: space-around;
  font-family: "Arial";
  font-size: 18px;
  margin: 10px 0px 15px;
}
.todoFilterButton {
  margin-right: 5px;
  margin-left: 5px;
}
.todoFilterInput {
  margin-left: 5px;
  margin-right: 2px;
  accent-color: #006cff;
}
