* {
  margin: 0px;
}
.todoAppPageContainer {
  height: 812px;
  width: 375px;
  background-color: white;
  background-size: cover;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}
.todoHeading {
  margin-top: 4px;
  margin-left: 10px;
  width: 65px;
  height: 41px;
  top: 16px;
  left: 16px;
  font-family: Arial;
  font-size: 32px;
}
.addTodo {
  margin-right: 10px;
  margin-top: 8px;
  width: 25px;
  height: 25px;
}
.addButton {
  background-color: transparent;
  border: none;
}
.todoClearButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.clearButton {
  background-color: transparent;
  border: 1px solid #006cff;
  color: #006cff;
  padding: 5px;
  border-radius: 8px;
}
